/* Definição de variáveis de cor */
:root {
    /*Cores Primárias*/
    --azul-escuro:#033D60;
    --branco:#FFFFFF;
    --preto:#201E1E;
    --cinza-padrao:#CDD4DC;

    /*Cores Secundárias*/
    --secundaria-a:#A5A5A5;
    --secundaria-b:#49656C;
    --secundaria-c:#5DB196;
    --secundaria-d:#98CDBD;

    /*Cores ênfase, destaque e marcações*/
    --enfase-a:#DC3C00;
    --enfase-b:#FFCC66;

    --background-color: #FFFFFF; /* Cor de fundo */
}

/* Estilos gerais do corpo do documento */
body {
    font-family: "Verdana", sans-serif; /* Fonte do corpo do texto */
    background-color: var(--background-color); /* Cor de fundo */
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--cinza-padrao); 
    color: var(--azul-escuro);
}

/* Estilos da imagem do cabeçalho */
header img {
    width: 4cm;
    height: auto;
}

/* Estilos da imagem do cabeçalho dentro de um link */
header a img {
    width: 50px;
    height: auto;
}

/* Estilos para títulos de segundo nível */
h2 {
    text-align: center;
    margin-top: 20px;
    color: var(--azul-escuro); /* Cor do título */
}

hr {
    border: 3px solid var(--azul-escuro);
    margin: 0px 0px 10px;
}

#igrejas-list {
    max-width: 600px; /* Define a largura máxima para evitar que a lista de igrejas fique muito larga */
    margin: auto; /* Centraliza a lista de igrejas horizontalmente na página */
}

.igreja-card {
    background-color: var(--cinza-padrao);
    margin-bottom: 10px;
    padding: 10px;
    color: var(--azul-escuro);

    /*Configuração de bordas*/
    border-radius: 10px;
    border-color: var(--azul-escuro);
    box-shadow: 5px 5px rgba(3,61,96,0.5);
}

.igreja-card h2 {
    margin-bottom: 5px; /* Adiciona margem na parte inferior do título de cada "card" de igreja para criar espaço */
}

.cultos-list {
    list-style-type: none; /* Remove a estilização padrão de marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista para eliminar qualquer espaço extra */
}

.culto-item {
    margin-bottom: 5px; /* Adiciona margem na parte inferior de cada item da lista de cultos para criar espaço entre eles */
}

/* Estilos para links */
a {
    color: var(--azul-escuro); /* Cor dos links */
    text-decoration: none; /* Remover decoração de texto sublinhado */
    transition: color 0.3s ease-in-out; /* Transição de cor suave */
}

/* Estilos para links quando o mouse está sobre eles */
a:hover {
    color: #01608F; /* Cor do link ao passar o mouse */
}

/* Estilos para dispositivos móveis usando media queries */
@media screen and (max-width: 768px) {
    /* Estilos do cabeçalho para dispositivos móveis */
    header {
        flex-direction: column;
        padding: 10px;
        background-color: var(--azul-escuro); /* Cor de fundo do cabeçalho */
        color: white; /* Cor do texto no cabeçalho */
        height: 100%;
        align-items: center;
    }

    /* Estilos da imagem do cabeçalho para dispositivos móveis */
    header img {
        width: 3cm;
        height: auto;
    }

    /* Estilos da imagem do cabeçalho dentro de um link para dispositivos móveis */
    header a img {
        width: 25px;
    }

    /* Estilos para títulos de primeiro nível para dispositivos móveis */
    h1 {
        margin: 10px 0;
        font-size: 1.5em;
    }

    /* Estilos para títulos de segundo nível para dispositivos móveis */
    h2 {
        font-size: 1.2em;
    }

    .igreja-card {
        margin: 6px;
    }
}